<ax-scene id="hello-world" hdr-environment="url: assets/day.hdr">
    <ax-camera movement-controls="floor:15;"><ax-reticle /></ax-camera>
    <ax-plane interactor="fastTravel: 15" material="src: assets/marble.jpg; repeat: 18 18"
              height="500" width="500" rotation="-90 0 0" shadow="cast: false"></ax-plane>
    <ax-light type="ambient" color="#555"></ax-light>
    <ax-gltf-model src="assets/DamagedHelmet.glb" position="-25 20 0" scale="10 10 10" inherit-hdr shadow="receive: false" interactor="fastTravel: 30"></ax-gltf-model>
</ax-scene>

<!---<ng-include src="'views/sum-demo.html'"></ng-include><br><br>
<ng-include src="'views/project-list-demo.html'"></ng-include>--->